{% extends "master.html" %}

{% block title %}- Log In{% endblock %}


{% block body %}

<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <div class="row">
        <form action="." method="POST">
            {{ render_field(form.username, class="form-control", placeholder="Enter your username") }}
            {{ render_field(form.password, class="form-control", placeholder="Enter your password") }}
            {{ form.csrf_token }}
          <button type="submit" class="btn btn-success">Log In</button>
        </form>
    </div>
</div>
{% endblock %}